body {
  background-image: hsl(237, 49%, 15%));
  font-family: "Bartow Semi Condensed";
}

.flex-score {
	display: flex;
	background-color: hsl(237, 49%, 15%);
	gap: 20px;
	justify-content: center;
}
.flex-score > div {
	background-color: hsl(217, 16%,45%);
	padding: 20px;
	margin: 10px;
	font-weight: 700;
}
.score{
	text-color: hsl(229, 64%, 46%);
	font-family: "Bartow Semi Condensed";
	font-weight: 600;
	border: 2px hsl(217, 16%,45%);
	padding: 20px;
	margin: 20px;
}
