body {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Bartow Semi Condensed";
}

.flex-score {
	display: flex;
	background-color: hsl(214,47%,23%);
}
.flex-score > div {
	background-color: hsl(217, 16%,45%);
	padding: 20px;
	margin: 10px;
	font-weight: 600;
}
.score{
	text-color: hsl(229, 64%, 46%);
	font-family: "Bartow Semi Condensed";
	font-weight: 600;
	border: 2px hsl(217, 16%,45%);
	padding: 20px;
	margin: 20px;
}
